/* CSS for 'booklist.php' */
table,th,td {
    border: 1px solid;
    border-collapse: collapse;
}

#First, #Second, #Third, #Fourth, #Fifth, #Sixth, .Seventh, .Eight{
    display: none;
}

/* CSS for 'addform.php' */
#addform, #delform{
    display: block;
}